* {
  padding: 0;
  margin: 0;
}

:root {
  --purple100: hsl(254, 88%, 90%);
  --purple500: hsl(256, 67%, 59%);
  --yellow100: hsl(31, 66%, 93%);
  --yellow500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
}

/*font weights are 400 and 500*/

img {
  width: 250px;
}

div {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.social-media {
  background-color: var(--purple500);
  color: var(--white);
}

.multiple-accounts {
  background-color: var(--white);
}

.consistent {
  background-color: var(--yellow500);
}

.schedule {
  background-color: var(--purple100);
}

.grow {
  background-color: var(--purple500);
  color: var(--white);
}

.audience {
  background-color: var(--white);
}

.create {
  background-color: var(--yellow100);
}

.ai {
  background-color: var(--yellow500);
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.fa-brands {
  font-size: 30px;
  margin: 30px;
  color: var(--purple500);
}
