* {
  padding: 0;
  margin: 0;
}

:root {
  --purple100: hsl(254, 88%, 90%);
  --purple500: hsl(256, 67%, 59%);
  --yellow100: hsl(31, 66%, 93%);
  --yellow500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  background-color: rgb(54, 19, 80);
}

/*font weights are 400 and 500*/

img {
  width: 250px;
}

div {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

h2 {
  font-weight: 500;
}

.social-media {
  background-color: var(--purple500);
  color: var(--white);
}

.social-media img {
  display: block;
  margin: 0 auto;
  padding: 20px 0px 10px 0px;
  width: 200px;
}

.social-media h1 {
  font-weight: 400;
  text-align: center;
  line-height: 35px;
  padding: 20px 40px 0px 40px;
  font-size: 40px;
}

.social-media p {
  margin: 0px 0px 25px 0px;
  text-align: center;
}

.multiple-accounts {
  background-color: var(--white);
}

.multiple-accounts img {
  width: 290px;
  padding-bottom: 20px;
}

.multiple-accounts h2 {
  font-size: 23px;
}

.consistent {
  background-color: var(--yellow500);
}

.consistent h2 {
  line-height: 25px;
}

.consistent-img {
height: 165px;
width: max-content;
overflow: hidden;
padding: 0;
margin: 0;
border-radius: 0;
position: relative;
top: 20px;
}


.schedule {
  background-color: var(--purple100);
}

.grow {
  background-color: var(--purple500);
  color: var(--white);
}

.audience {
  background-color: var(--white);
}

.create {
  background-color: var(--yellow100);
}

.ai {
  background-color: var(--yellow500);
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.fa-brands {
  font-size: 30px;
  margin: 30px;
  color: var(--purple500);
}
